/* General font families for common tags */
a:link, a:active, a:visited {
	color: #252525;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #ffa829;
}

a img {
	border:none;
}

hr {
	height: 0px;
	border: solid #D1D7DC 0px;
	border-top-width: 1px;
}

/* Form elements */
input, textarea, select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

input.radio {
	border: 0px;
}

.adminboxtextarea {
	margin-right: .5em;
	background-color: #fff;
	border: 1px solid #666;
}

.hidden {
	display: none;
}

body {
	background-color: #252525;
	color: #4b3d42;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin : 0px;
}

table {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.erreurs {
	padding:30px;
	font-weight: bold;
	text-align:center;
}

.titre {
	position: relative;
	background-image: url(images/frcd_titre_fond.jpg);
	background-position: 658px 0px;
	width: 100%;
	text-align: left;
}

#pied-de-page {
	width:100%;background-image:url(images/frcd_fond_bas.jpg);
	background-position:top center; 
	background-repeat:no-repeat;
	height:60px;
}

#menu {
	color:#aaaaaa;
	padding: 10px;
}

#menu a {
	color:white;
}

#menu a:hover {
	color:#ffca29;
}

#menu a.en_cours {
	color:#ffca29;
}

#menu a.en_cours:hover {
	color:white;
}

#menu ul {
	margin-top:5px;
	margin-bottom:5px;
	margin-left:0;
	margin-right:0;
	padding:0;
}

#menu li {
	list-style-type:none;
	margin-left:0;
	margin-right:0;
}

#heure {
	float:left;
	margin-left:10px;
	margin-right:10px
}

#connectes {
	float:right;
	margin-left:10px;
	margin-right:10px
}

.contenu {
	background-color:#fbf2ed;
	background-image: url(images/frcd_contenu_fond.jpg);
	background-position: top left;
	background-repeat: repeat-y;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: left;
}

.contenu table {
	margin-left:auto;
	margin-right:auto;
}

/* liste des questions */
#questions {
}

/* question */
.question {
}

.question div {
	float:left;
}

/* entete des questions */
.question_entete {
	position:relative;
	width:82px;
	height:124px;
	float:left;
	background-image:url(images/frcd_ordre_fond.jpg);
	background-repeat:no-repeat;
	background-position:0 30px;
}

.ordre {
	color: black;
	font-weight: bold;
	font-size: 35px;
	text-align: center;
	position:absolute;
	width:80px;
	height:50px;
	top:35px;
	left:0px
}

.libelle {
	font-size:12px;
	text-align:center;
	color:black;
	font-weight:bold;
	position:absolute;
	width:80px;
	height:50px;
	top:90px;
	left:0px
}

/* les indices */

.miniature {
	width:129px;
	height:127px;
	position:relative;
	background-image:url(images/frcd_miniature_fond.jpg);
	background-repeat:no-repeat;
	background-position:top left;
}

.miniature a img {
	border: 3px solid white;
	position:absolute;
	top:20px;
	left:21px;
	width:81px;
	height:81px;
}

.miniature a:hover img {
	border-color: #ffa829;
	/* for IE */
	filter:alpha(opacity=80);
	/* CSS3 standard */
	opacity:0.8;
}

.score {
	width: 87px;
	height: 124px;
	position: relative;
}
.score img {
	top:20px;
	left:0px;
	position: absolute;
}

.indication {
	position:absolute;
	top:110px;
	left:22px;
	text-align:center;
	width:86px;
	height:15px;
}

.indications {
	position: relative;
	font-size: 7pt;
	margin-bottom: 5px;
	text-align: center;
	width: 100%;
}

.separation {
	width: 100%;
	height: 1px;
	border-top: 1px solid #bfacb2;
	position: relative;
	margin:auto;
}

#entete {
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight:bold;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
}

#entete img {
	vertical-align: baseline;
}

#semaine {
	text-align:center;
	margin:auto;
}

#semaine #theme{
	margin:10px;
	font-size:16px;
	font-weight:bold;
}

#semaine #description{
	margin:10px;
}

#semaine #type{
	margin:10px;
}

#semaine #etat{
	margin:10px;
	font-weight:bold;
}

.bloc_reponse {
	margin: auto;
	padding: 10px;
	width:520px;
	text-align: justify;
}

.bloc_reponse .reponse {
	font-weight:bold;
	font-size:12px;
}

.bloc_reponse .infos {
	font-style: italic;
}

.bloc_reponse .commentaire {
	margin-top:5px; 
	margin-bottom:5px;
}

.bloc_reponse .auteur {
	text-align:right;
	font-weight:bold;
	font-style: italic;
}

#classement {
	width: 592px;
	text-align: center;
	margin-top: 30px;
	color : white;
	margin-bottom: 20px;
}

#classement th {
	background: #202020;
	font-weight: bold;
}

#classement th a {
	color: white;
}

.classement_ligne_paire {
	/*background: #1b9dc6;*/
	background: #333333;
}

.classement_ligne_impaire {
	background: #666666;
	/*background-image: url(images/frcd_ligne_bas.gif);
	background-position: center top;
	background-repeat: repeat-x;*/
}

.classement_ligne_surlignee {
	background: #c30801;
	/*color: black;*/
}

.classement_ligne_mon_equipe {
	color: black;
	background: #fea327;
}

.classement_gc {
	color: black;
	background: yellow;
}

/* This is the outline round the main forum tables */
.adminboxline {
	border: 1px #000000 solid;
	background-color: #ffffff;
}

/* Main table cell colours and backgrounds */
td.adminboxtitle {
	background-color: #000000;
	padding: 2px 10px;
	font-size: 10px;
	color: #ffffff;
	font-weight: bold;
}

td.adminboxbody {
	padding: 10px;
	font-size: 10px;
	color: #000000;
	text-align : left;
}

td.adminboxbody select {
	width:150px;
}

td.adminboxbody li {
	margin:10px;
}
td.adminboxchapter {
	background-color: #e0e0e0;
	padding: 2px 10px;
	font-size: 10px;
	color: #000000;
	font-weight: bold;
}

td.adminboxbottom {
	background-color: #e0e0e5;
	padding: 2px 10px;
	font-size: 10px;
	color: #000000;
}

.presentation {
	text-align: justify;
	padding: 30px;
}

.presentation p {
	text-align: justify;
}

.presentation h2 {
	margin-top: 30px;
	margin-bottom: 15px;
}

.annonce_titre {
	padding: 5px 20px 5px 20px; text-align:left;  font-weight:bold; font-size:13px;
}

.annonce {
	width:100%;
	margin-top:30px;
	margin-bottom:30px;
}

.annonce_signature {
	padding-left: 20px; padding-right: 20px; text-align:right;  font-style: italic;
}

#meilleures_betises {
	text-align:left;
}

.faq {
	text-align: left;
	margin : 20px;
}

.faq p {
	text-align: justify;
}

.faq_questions {
	font-size: 20px;
	font-weight:bold;
	margin-top: 30px;
	margin-bottom: 30px;
}

.clear {
	clear:both;
}

.box {
	background: #ffffff url(images/bgr-box-trans.jpg) repeat-x top left;
	border:1px solid #c8c1c3;
	margin: 0 0 15px 0px;
	padding:18px;
}

.box p{
	line-height: 18px;
	padding: 0 0 10px;
}
